.input-group {
    //align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: $medium;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $large;
    }
}

.input-group__item {
    margin-bottom: $small;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $small 0 0;
    }
}
