.text-input {
    border: 1px solid #cacccd;
    height: 50px;
    font-size: $font-large;
    font-weight: 300;
    padding: $small;
}

.select {
    @extend .text-input; /* scss inheritance */
}

.text-area {
    @extend .text-input;
    height: 10rem;
}
