// colors
$dark-grey: #333;
$blue: #335abd;
$dark-green: #0c3814;
// font size
$font-large: 1.8rem;
// spacing
$medium: 1.6rem;
$large: 3.2rem;
$xl: 4.8rem;
$small: 1.2rem;
$desktop-breakpoint: 45rem;

// corners
$rounded: 10px;
