// colors
$dark-grey: #333;
$grey: #706e6e;
$light-grey: #e6f0ed;
$blue: #335abd;
$dark-green: #0c3814;
// font size
$font-large: 1.8rem;
$font-small: 1.4rem;
// spacing
$medium: 1.6rem;
$large: 3.2rem;
$xl: 4.8rem;
$small: 1.2rem;
$desktop-breakpoint: 45rem; // min width for desktop monitors

// corners
$rounded: 10px;
